In [1]:
#Libraries. 
import pandas as pd

In [2]:
measure1 = pd.read_csv('measurements.csv')
measure1.shape

(388, 12)

In [3]:
measure2 = pd.read_excel('measurements2.xlsx')
measure2.shape

(388, 12)

In [4]:
# Both data set have the same amount of columns, names and values (with a few differences). 
# We will fix that in the cleaning process.
measure = pd.concat([measure1, measure2], axis=0) 
measure.shape
measure.reset_index(drop=True, inplace=True)

## EXPLORATION & CLEANING

In [5]:
#Checking if after concat both databases we have info matching. 
duplicates = measure[measure.duplicated()]
duplicate_count = len(duplicates)
print(f"Number of duplicates: {duplicate_count}")
print("Duplicate Rows:")
duplicates

Number of duplicates: 0
Duplicate Rows:

Empty DataFrame
Columns: [distance, consume, speed, temp_inside, temp_outside, specials, gas_type, AC, rain, sun, refill liters, refill gas]
Index: []

In [14]:
round(measure.isna().sum()/len(measure),4)*100

distance          0.00
consume           0.00
speed             0.00
temp_inside       3.09
temp_outside      0.00
specials         76.03
gas_type          0.00
AC                0.00
rain              0.00
sun               0.00
refill liters    96.65
refill gas       96.65
dtype: float64

In [ ]:
# Dropping "refill liters" and "refill gas" because high missing values.
# We don't replace with 0, mean, median or mode because ww will create a constant.

In [ ]:
measure = data.drop(['column_name', 'column_name'], axis=1)

In [11]:
# Some columns contains just numbers but they appears as a object instead of float or integrer. 
# But first to convert them in float we have to ensure all float has . as decimal market instead of ,

In [12]:
columns_to_float = ['distance', 'consume', 'temp_inside']
measure[columns_to_float] = measure[columns_to_float].replace(',', '.', regex=True)
measure

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
0,28,5,26,21.5,12,NaN,E10,0,0,0,45,E10
1,12,4.2,30,21.5,13,NaN,E10,0,0,0,NaN,NaN
2,11.2,5.5,38,21.5,15,NaN,E10,0,0,0,NaN,NaN
3,12.9,3.9,36,21.5,14,NaN,E10,0,0,0,NaN,NaN
4,18.5,4.5,46,21.5,15,NaN,E10,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
771,16.0,3.7,39,24.5,18,NaN,SP98,0,0,0,NaN,NaN
772,16.1,4.3,38,25.0,31,AC,SP98,1,0,0,NaN,NaN
773,16.0,3.8,45,25.0,19,NaN,SP98,0,0,0,NaN,NaN
774,15.4,4.6,42,25.0,31,AC,SP98,1,0,0,NaN,NaN
775,14.7,5.0,25,25.0,30,AC,SP98,1,0,0,NaN,NaN

In [18]:
measure.dtypes

distance         object
consume          object
speed             int64
temp_inside      object
temp_outside      int64
specials         object
gas_type         object
AC                int64
rain              int64
sun               int64
refill liters    object
refill gas       object
dtype: object